# MSDS 430 - Milestone 1  
# Rakshit (Rocky) Bhatt, Kurtis Boll, Parker Davis

## 1) Reading in the dataset

In [15]:
import pandas as pd
from IPython.display import display


df = pd.read_csv("https://storage.googleapis.com/kaggle-data-sets/309430/628817/bundle/archive.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1589328124&Signature=YNCkaWl7l%2FU7vm4sV8%2FUqhA6QXdn%2BEn0j5WFYWLgLYPwz1rBz5shCc8ZqVaajPlK62dwfXyVzJmN27%2FSmkCz7woRCjiYBbUpmtUqHLpl5iVZleUnnO3pJkq78GstHVG7pXU2EX9KnvVs%2FWAcPl1ZKH7Yf%2F5Hi1rjYMhhYnJpm6NbgDkUGuav56epY2p0NiGdilZT9r%2BDptH66ovrskLIgnjyqY32xSQV2WnwjvtN2HjN6u838ZyEpR7DIFfjgPcTBSDjsBkoi%2FVXc8QV7QG0ru%2FaiBj9%2FbbNR94CPn1PPw%2FN4qv6oS%2FS5vPnwfB%2FAUvPDHU8Gv5FjHUspSK%2BsRp%2FVw%3D%3D&response-content-disposition=attachment%3B+filename%3Dairplane-crash-data-since-1908.zip")
pd.options.display.max_columns = None
display(df)
df.describe()

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,07/12/1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4962,04/16/2019,11:00,"Puerto Montt, Chile",Archipelagos Service Aereos,NaN,Puerto Montt - Ayacara,Pilatus-Britten Norman BN-2B-27 Islander,CC-CYR,2169,6.0,5.0,1.0,6.0,5.0,1.0,0.0,"While the aircraft was in the initial climb, p..."
4963,05/05/2019,18:30,"Near Monclava, Mexico",TVPX Aircraft Solutions,NaN,Las Vegas - Monterrey,Canadair CL-600-2B16-Challenger,N601VH,5043,13.0,11.0,2.0,13.0,11.0,2.0,0.0,The aircraft crashed while en route on a retur...
4964,05/05/2019,18:30,"Moscow, Russia",Aeroflot Russian International Airlines,NaN,Moscow - Murmansk,Sukhoi Superjet-100-95B,RA-89098,95135,78.0,73.0,5.0,41.0,40.0,1.0,0.0,Forty-five minutes after taking off from Mosco...
4965,06/03/2019,13:00,"Near Lipo, India",Military - Indian Air Force,NaN,Jorhat-Rowriah - Mechuka,Antonov An-32,K2752,1009,13.0,5.0,8.0,13.0,5.0,8.0,0.0,Crashed about 34km WNW of Mechuka.
4966,07/30/2019,02:00,"Rawalpindi, India",Military - Pakistan Army,NaN,Training,Beechcraft B300 King Air,766,B766,5.0,0.0,5.0,5.0,0.0,5.0,14.0,"The Pakistani military plane, on a training fl..."

,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground
count,4949.000000,4738.000000,4741.000000,4959.000000,4725.000000,4726.000000,4926.000000
mean,31.088301,26.898691,4.479646,22.338173,19.017566,3.579348,1.728177
std,45.438282,44.010591,3.489021,35.026176,34.114849,3.170223,55.708966
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000000,3.000000,2.000000,4.000000,1.000000,2.000000,0.000000
50%,16.000000,12.000000,4.000000,11.000000,8.000000,3.000000,0.000000
75%,35.000000,30.000000,6.000000,25.000000,21.000000,5.000000,0.000000
max,644.000000,614.000000,61.000000,583.000000,560.000000,46.000000,2750.000000

## 2) Why did you pick this data?

With two of our group members working for Boeing, we decided we wanted to do an aviation related project. After researching datasets on Kaggle, the airplane crash data since 1908 dataset really caught our interest as it was comprehensive and contained multiple categories of data that we could use.

## 3) Explain what you hope to learn from this data

We are hoping to find out and learn which family of aircraft, manufacturer, airline, and location had the most crashes since 1908 by analyzing the dataset and isolating those categories.

## 4) Do you have a hunch about what this data will reveal?

Our initial hunch about this data is that there will be more crashes earlier on in the years following 1908 and improving up to 2019 as aviation safety has generally improved historically over time. Additionally, we believe that there will be a correlation with crashes in areas that have more obstacles surrounding the runway strip and are known for treacherous weather conditions.

## 5) What is the population being represented by the data you’ve chosen? What is the total sample size?

The population within the data consists of airplane crash data since 1908 taken from an aviation accident database and limited to accidents with the following constraints: 

- All civil and commercial aviation accidents of scheduled and non-scheduled passenger airliners worldwide, which resulted in a fatality (including all U.S. Part 121 and Part 135 fatal accidents)

- All cargo, positioning, ferry and test flight fatal accidents.

- All military transport accidents with 10 or more fatalities.

- All commercial and military helicopter accidents with greater than 10 fatalities.

- All civil and military airship accidents involving fatalities.

- Aviation accidents involving the death of famous people.

- Aviation accidents or incidents of noteworthy interest.


The total sample size of the data consists of 17 columns with 4101 unique values.